.headerText{
	margin: $zero;
	padding: $zero;
	width: $fullWidth;
	line-height: 26px;
	height: 26px;
	position: relative;
	.line{
		margin: $zero;
		padding: $zero;
		width: $fullWidth;
		height: 2px;
		background-color: $blueColor;
		position: absolute;
		top: 12px;
		z-index: 1;
	}
	.title{
		margin: $zero; 
		padding: 0 20px 0 0; 
		font-family: "noto_sansregular"; 
		font-size: 24px;
		line-height: 26px;
		background-color: $whiteColor; 
		position: absolute;
		left: 0; 
		top: 0;
		color: $blueColor; 
		z-index: 2;
	}
}
.mainText{
	margin: 10px 0 40px 0; 
	padding: $zero; 
	font-family: "noto_sansregular"; 
	font-size: 20px;
	color: $blueColor; 
}
.justTitle{
	margin: $zero; 
	padding: $zero; 
	line-height: 26px;
	font-size: 24px;
	font-family: "noto_sansregular"; 
	color: $blueColor;
}
.usefullLinks{
	margin: $zero; 
	padding: $zero;
	width: $fullWidth; 
	list-style-type: none;
	li{
		width: $fullWidth; 
		line-height: 45px;
		height: 45px;
		background-color: $greyColor; 
		margin: 10px 0 10px 0;
		position: relative;
		-webkit-transition: background-color 500ms linear;
        -moz-transition: background-color 500ms linear;
        -o-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
		a{
			text-decoration: none;
			display: block;
			width: $fullWidth; 
			height: $fullHeight;
			position: absolute;
			color: $blueColor;
			img{
				margin: 10px; 
				padding: $zero; 
				border: $zero; 
				outline: $zero; 
				height: 25px;
				width: 45px;
				float: left;
			}
			span{
				font-family: "noto_sansregular"; 
				font-size: 15px;
				line-height: 45px;
				float: left;
			}
		}
		a:hover{
			color: $whiteColor;
		}
	}
	li:hover{
		background-color: $yellowColor; 
		-webkit-transition: background-color 500ms linear;
        -moz-transition: background-color 500ms linear;
        -o-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
	}
}
.files{
	margin: 10px 10px 40px 10px; 
	padding: $zero;
	width: calc(#{$fullWidth} - 20px); 
	background-image: url('../img/bigflags.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	clear: both;
	float: left;
	.file{
		margin: 10px 0;
		padding: 10px;
		border: solid 1px $whiteColor;
		width: $fullWidth;
		height: 80px;
		overflow: hidden;
		position: relative;
		a{
			display: block;
			color: $whiteColor; 
			.pdfIcon{
				margin: 4px 10px 0 0;
				padding: $zero; 
				width: 40px;
				height: 50px;
				float: left;
				background-image: url('../img/pdf.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 40px 50px; 
			}
			.downloadIcon{
				margin: $zero;
				padding: $zero; 
				width: 12px;
				height: 14px;
				background-image: url('../img/download.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 12px 14px; 
				position: absolute;
				right: 10px;
				top: 10px;
				z-index: 1;
			}
			.title{
				margin: $zero; 
				padding: 0 10px 0 0; 
				float: left;
				font-size: 15px;
				line-height: 18px;
				font-family: 'Roboto';
				color: $whiteColor;
				width: calc(#{$fullWidth} - 60px);
				span{
					text-decoration: underline;
				}
				b{
					text-decoration: none;
					color: $yellowColor; 
				}		
			}
		}
	}
}
.files-mobile{
	display: none;
}
.files-desktop{
	display: block;
}
.newsBox{
	margin: 10px 0; 
	padding: $zero; 
	width: $fullWidth; 
	a{
		margin: $zero;
		padding: $zero;
		text-decoration: none;
		display: block;
		.imageBox{
			margin: $zero; 
			padding: $zero; 
			width: $fullWidth; 
			border: $zero;
			line-height: $zero;
			img{
				width: $fullWidth;
			}
		}
		.data{
			margin: $zero; 
			padding: 0 10px;
			line-height: 30px;
			height: 30px;
			background-color: $blueColor;
			p{
				font-family: 'Roboto'; 
				font-size: 13px;
				color: $whiteColor;
			}
			p:first-child{
				float: left;
			}
			p:last-child{
				float: right;
			}
		}
		.title{
			margin: 5px 0; 
			padding: $zero;
			font-family: "noto_sansregular"; 
			font-size: 15px;
			color: $blueColor;
			line-height: 18px;
		}
		.text{
			margin: 5px 0; 
			padding: $zero;
			font-family: "noto_sansregular";  
			font-size: 15px;
			line-height: 18px;
			color: $darkGreyColor;	
		}
	}
	a:hover .imageBox img{
		opacity: 0.8;
	}
	a:hover .title{
		text-decoration: underline;
	} 
}
footer{
	margin: 40px 0px 0px 0px;
	padding: 20px 0px;
	width: $fullWidth; 
	min-height: 200px;
	background-color: $greyColor; 
	border-top: solid 5px $redColor;
	position: relative;
	.centerWidth{
		a{
			margin: 0; 
			padding: 0;
			display: block;
			text-decoration: none;
			img{
				margin: 0; 
				padding: 0;
				width: 180px;
			}
		}
		p{
			margin: 0; 
			padding: 0;
			font-size: 10px;
			font-family: "noto_sansregular";  
			line-height: 14px;
			color: $darkGreyColor2
		}
		.marginBottom55{
			margin-bottom: 55px; 
		}
		.footerText{
			margin: 0; 
			padding: 0; 
			width: $fullWidth; 
			.left{
				margin: $zero; 
				padding: $zero;
				font-family: "noto_sansregular";  
				font-size: 12px;
				line-height: 18px;
				color: $blackColor;
				float: left;
			}
			.right{
				margin: $zero; 
				padding: $zero;
				float: right;
				line-height: 43px;
				a{
					margin: $zero; 
					padding: $zero;
					outline: $zero;
					display: block;
					text-decoration: none;
					img{
						margin: $zero;
						padding: $zero;
						outline: $zero;
						width: 60px;
					}
				}
			}
		}
	}
}