/*HEDARE TOP*/
/*HEADER BOTTOM*/
/*FONT*/
@font-face {
  font-family: 'museo700';
  src: url("../fonts/museo/museo-700.woff2") format("woff2"), url("../fonts/museo/museo-700.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.no, *, .centerWidth, header .top .top-box .social-networks ul, header .top .top-box .social-networks ul li, header .top .top-box .languages ul, header .top .top-box .languages ul li, header .topBottom .search .input-field, main {
  margin: 0px;
  padding: 0px;
  border: 0px; }

.clearer {
  clear: both; }

.centerWidth {
  margin: 0 auto;
  width: 1200px;
  position: relative; }

.topCenter {
  height: 24px; }

header .top {
  background-color: #ff0000;
  height: 24px;
  width: 100%; }
  header .top .top-box {
    width: 300px;
    height: 24px;
    line-height: 24px;
    float: right; }
    header .top .top-box .social-networks {
      width: 150px;
      height: 24px;
      line-height: 24px;
      float: left; }
      header .top .top-box .social-networks ul {
        list-style-type: none;
        height: 24px;
        line-height: 24px;
        width: 150px; }
        header .top .top-box .social-networks ul li {
          display: inline-block;
          height: 24px;
          line-height: 24px; }
          header .top .top-box .social-networks ul li a {
            text-decoration: none;
            color: #fff;
            display: block;
            width: 35px;
            height: 24px; }
        header .top .top-box .social-networks ul li:hover {
          cursor: pointer;
          opacity: 0.8; }
        header .top .top-box .social-networks ul li:first-child {
          margin-left: 0px; }
        header .top .top-box .social-networks ul .fb {
          background-image: url("../img/facebook.png");
          text-indent: -9999px;
          background-repeat: no-repeat;
          background-size: 16px 13px;
          background-position: center center; }
        header .top .top-box .social-networks ul .tw {
          background-image: url("../img/twitter.png");
          text-indent: -9999px;
          background-repeat: no-repeat;
          background-size: 16px 13px;
          background-position: center center; }
        header .top .top-box .social-networks ul .yt {
          background-image: url("../img/youtube.png");
          text-indent: -9999px;
          background-repeat: no-repeat;
          background-size: 16px 13px;
          background-position: center center; }
    header .top .top-box .languages {
      width: 150px;
      float: left;
      text-align: right; }
      header .top .top-box .languages ul {
        width: 150px;
        list-style-type: none; }
        header .top .top-box .languages ul li {
          display: inline-block;
          padding: 0px 10px;
          margin: 0px;
          position: relative; }
          header .top .top-box .languages ul li a {
            text-decoration: none;
            color: #fff;
            font-family: "Roboto";
            font-size: 13px; }
          header .top .top-box .languages ul li a:hover {
            font-weight: bold; }
          header .top .top-box .languages ul li .active {
            font-weight: bold; }
        header .top .top-box .languages ul li:after {
          content: '';
          width: 1px;
          height: 10px;
          background-image: url("../img/line.png");
          background-size: 1px 10px;
          background-repeat: no-repeat;
          position: absolute;
          right: 0px;
          top: 6px; }
        header .top .top-box .languages ul li:last-child {
          margin-right: 0px; }
        header .top .top-box .languages ul li:last-child:after {
          display: none; }
header .topBottom {
  width: 100%;
  height: 140px;
  background-color: #f2f3f6; }
  header .topBottom .logo {
    margin-top: 30px;
    width: 50%;
    float: left;
    cursor: pointer;
    display: block;
    margin-bottom: 16px; }
    header .topBottom .logo .flags {
      width: 100%; }
      header .topBottom .logo .flags p {
        display: inline-block;
        float: left;
        margin-right: 10px;
        line-height: 32.5px;
        height: 32.5px;
        margin-bottom: 5px; }
        header .topBottom .logo .flags p img {
          width: 48.5px;
          height: 32.5px; }
      header .topBottom .logo .flags p:last-child {
        font-size: 45px;
        font-family: 'museo700';
        color: #003399; }
    header .topBottom .logo .text {
      clear: both;
      width: 100%;
      text-align: left;
      font-family: "Roboto";
      font-size: 16px;
      color: #003399; }
  header .topBottom .search {
    margin-top: 30px;
    float: right;
    width: 300px;
    position: relative; }
    header .topBottom .search i {
      width: 40px;
      height: 40px;
      line-height: 40px;
      position: absolute;
      left: 0;
      top: 3px;
      color: #003399; }
    header .topBottom .search .input-field {
      width: 300px;
      height: 40px;
      line-height: 40px; }
      header .topBottom .search .input-field input {
        width: calc(100% - 40px);
        line-height: 40px;
        padding-left: 40px;
        font-family: 'Roboto';
        font-size: 15px;
        color: #003399;
        border-bottom: 1px solid #003399; }
header .navigation {
  width: 1200px;
  height: 50px;
  background-color: #003399;
  margin: 0 auto;
  clear: both; }
  header .navigation ul {
    list-style-type: none;
    display: table;
    width: 100%; }
    header .navigation ul li {
      display: table-cell;
      line-height: 50px;
      text-align: center;
      position: relative; }
      header .navigation ul li a {
        display: block;
        color: #ffffff;
        text-decoration: none;
        font-family: 'Roboto';
        font-size: 16px;
        padding: 0 10px; }
      header .navigation ul li .active {
        font-weight: bold;
        position: relative; }
      header .navigation ul li .active:after {
        content: '';
        width: calc(100% - 25px);
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        bottom: 13px;
        left: 12.5px; }
      header .navigation ul li a:hover {
        font-weight: bold; }
    header .navigation ul li:after {
      content: '';
      width: 2px;
      height: 40px;
      background-image: url("../img/line2.png");
      background-repeat: no-repeat;
      background-size: 2px 40px;
      position: absolute;
      right: 0px;
      top: 5px; }
    header .navigation ul li:last-child:after {
      display: none; }
header .nav_bg {
  display: none;
  line-height: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 46px;
  height: 0px; }
  header .nav_bg .nav_bar {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    border-radius: 3px;
    /*style*/ }
    header .nav_bg .nav_bar .c-hamburger {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      width: 46px;
      height: 0px;
      font-size: 0;
      text-indent: -9999px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      box-shadow: none;
      border-radius: none;
      border: none;
      cursor: pointer;
      -webkit-transition: background 0.3s;
      transition: background 0.3s; }
    header .nav_bg .nav_bar .c-hamburger:focus {
      outline: none; }
    header .nav_bg .nav_bar .c-hamburger span {
      display: block;
      position: absolute;
      top: 44px;
      left: 0px;
      right: 0px;
      height: 4px;
      background: #003399; }
    header .nav_bg .nav_bar .c-hamburger span::before,
    header .nav_bg .nav_bar .c-hamburger span::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #003399;
      content: ""; }
    header .nav_bg .nav_bar .c-hamburger span::before {
      top: -15px; }
    header .nav_bg .nav_bar .c-hamburger span::after {
      bottom: -15px; }
    header .nav_bg .nav_bar .c-hamburger--htx span {
      -webkit-transition: background 0s 0.3s;
      transition: background 0s 0.3s; }
    header .nav_bg .nav_bar .c-hamburger--htx span::before,
    header .nav_bg .nav_bar .c-hamburger--htx span::after {
      -webkit-transition-duration: 0.3s, 0.3s;
      transition-duration: 0.3s, 0.3s;
      -webkit-transition-delay: 0.3s, 0s;
      transition-delay: 0.3s, 0s; }
    header .nav_bg .nav_bar .c-hamburger--htx span::before {
      -webkit-transition-property: top, -webkit-transform;
      transition-property: top, transform; }
    header .nav_bg .nav_bar .c-hamburger--htx span::after {
      -webkit-transition-property: bottom, -webkit-transform;
      transition-property: bottom, transform; }
    header .nav_bg .nav_bar .c-hamburger--htx.is-active span {
      background: none; }
    header .nav_bg .nav_bar .c-hamburger--htx.is-active span::before {
      top: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    header .nav_bg .nav_bar .c-hamburger--htx.is-active span::after {
      bottom: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    header .nav_bg .nav_bar .c-hamburger--htx.is-active span::before,
    header .nav_bg .nav_bar .c-hamburger--htx.is-active span::after {
      -webkit-transition-delay: 0s, 0.3s;
      transition-delay: 0s, 0.3s; }

.mobileNavigation {
  display: none; }

@media (max-width: 1200px) {
  .centerWidth {
    width: 90%; }

  header .top .top-box {
    width: 100%; }

  header .top .top-box .languages {
    float: right; }

  header .topBottom .search {
    display: none; }

  header .topBottom .logo {
    margin-top: 35px;
    width: 85%; }

  header .topBottom .logo .flags p {
    line-height: 22.5px;
    height: 22.5px; }

  header .topBottom .logo .flags p img {
    width: 38.5px;
    height: 22.5px; }

  header .topBottom .logo .flags p:last-child {
    font-size: 30px; }

  header .topBottom .logo .text {
    font-size: 13px; }

  header .topBottom {
    height: 120px; }

  header .navigation {
    display: none; }

  header .nav_bg {
    display: block; }

  .mobileNavigation {
    width: 100%;
    position: absolute;
    top: 144px; }
    .mobileNavigation .yellowBox {
      background-color: #ffcd00;
      width: 100%;
      display: none;
      position: absolute;
      z-index: 1; }
    .mobileNavigation .blueBox {
      background-color: #003399;
      position: absolute;
      min-height: 250px;
      z-index: 2; }
      .mobileNavigation .blueBox ul {
        list-style-type: none; }
        .mobileNavigation .blueBox ul li {
          margin: 0px;
          padding: 10px 20px;
          display: inline-block;
          width: 100%; }
          .mobileNavigation .blueBox ul li a {
            color: #ffffff;
            font-family: 'Roboto';
            font-size: 16px;
            text-decoration: none; }
          .mobileNavigation .blueBox ul li .active {
            font-weight: bold; } }
main {
  margin-top: 30px;
  clear: both; }
  main .row .leftSide {
    background-color: red; }
  main .row .rightSide {
    background-color: blue; }

@media (max-width: 380px) {
  header .top .top-box .social-networks {
    width: 130px; }
    header .top .top-box .social-networks ul {
      width: 130px; }

  header .top .top-box .languages {
    float: right;
    width: 130px; }
    header .top .top-box .languages ul {
      width: 130px; }
      header .top .top-box .languages ul li {
        padding: 0 5px; }

  header .topBottom .search {
    display: none; }

  header .topBottom .logo {
    margin-top: 35px;
    width: 85%; }

  header .topBottom .logo .flags p {
    line-height: 17.5px;
    height: 17.5px;
    margin-right: 5px; }

  header .topBottom .logo .flags p img {
    width: 33.5px;
    height: 17.5px; }

  header .topBottom .logo .flags p:last-child {
    font-size: 25px; }

  header .topBottom .logo .text {
    font-size: 10px; }

  header .nav_bg {
    top: -5px; } }

/*# sourceMappingURL=style.css.map */
