/*FONT*/
@font-face {
    font-family: 'museo700';
    src: url('../../fonts/web/museo/museo-700.woff2') format('woff2'),
         url('../../fonts/web/museo/museo-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sansregular';
    src: url('../../fonts/web/noto/notosans-regular.woff2') format('woff2'),
         url('../../fonts/web/noto/notosans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sans_georgianregular';
    src: url('../../fonts/web/noto/notosansgeorgian-regular-webfont.woff2') format('woff2'),
         url('../../fonts/web/fonts/noto/notosansgeorgian-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}