/*FONT*/
@font-face {
    font-family: 'museo700';
    src: url('../../fonts/web/museo/museo-700.woff2') format('woff2'),
         url('../../fonts/web/museo/museo-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sansregular';
    src: url('../../fonts/web/noto/notosans-regular.woff2') format('woff2'),
         url('../../fonts/web/noto/notosans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sans_georgianregular';
    src: url('../../fonts/web/noto/notosansgeorgian-regular-webfont.woff2') format('woff2'),
         url('../../fonts/web/fonts/noto/notosansgeorgian-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bpg_supersquare_2013regular';
    src: url('../../fonts/web/bpg_supersquare_2013-webfont.woff2') format('woff2'),
         url('../../fonts/web/bpg_supersquare_2013-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../../fonts/web/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}