header {
	.navigation{
		ul {
			li{
				a{
					padding: 0 5px;
				}
				a, span{
					font-family: 'noto_sans_georgianregular'; 
					font-size: 13px; 
				}
			} 
		}
	} 
}
.headerText .title, 
.mainText, .mainText a, .mainText ul li, .mainText ul li a,
.justTitle, 
h2, 
.usefullLinks li a span, 
.files .file a .title span{
	font-family: 'noto_sans_georgianregular'; 
}
.CalendarBox table #title-calendar, .newsBox a .data p{
	font-family: 'noto_sans_georgianregular';
}
.footerText .left{
	// font-family: 'noto_sans_georgianregular' !important;	
}
.collapsible .collapsible-header > div:not(.rightSide){
	font-family: 'noto_sans_georgianregular' !important;
}
.usefullLinks li a div{
	font-family: 'noto_sans_georgianregular' !important;	
}
.headerText .title, .justTitle, h2, .headerText .title{
	font-size: 17px;
}

.usefullLinks li a span{
	font-size: 15px; 
}

.mainText{
	font-size: 15px;
}
.mainText p, .mainText ul li, .InternationalSupport .box .title, .InternationalSupport .box .text, .contactDetails p{
	font-size: 15px;
}
header .navigation ul li .active span{
	padding-bottom: 3px !important;
}

.files .file a .title, .usefullLinks li a div{
	font-size: 13px;
}

.newsBox a .title{
	font-size: 15px;
	font-family: 'noto_sans_georgianregular' !important;
 }
 .newsBox a .text{
 	font-size: 13px;
 	font-family: 'noto_sans_georgianregular' !important;
 }
 header .topBottom .search .input-field input[type=text]{
 	font-family: 'noto_sans_georgianregular' !important;	
 }
 .weekDay{
 	font-family: 'noto_sans_georgianregular' !important;
 	padding: 20px 0 20px 3px !important;
 	color: white !important;
 	font-size: 14px !important;	
 	text-align: left !important; 
 }
 .CalendarBox{
 	font-family: 'noto_sans_georgianregular' !important;		
 }
 .mainText p{
 	font-family: 'noto_sans_georgianregular' !important;
 }
 .leftNavigation .nav ul li a{
	font-family: 'noto_sans_georgianregular' !important;
 }
 .collapsible .collapsible-header span{
 	font-family: 'noto_sans_georgianregular' !important;	
 }
 .collapsible .collapsible-body p, .collapsible .collapsible-body div:not(.rightSide), .collapsible .collapsible-body ul li{
 	font-family: 'noto_sans_georgianregular' !important; 	
 }
 .InternationalSupport .box .title, .InternationalSupport .box .text, .linkWithIcon a .geo{
 	font-family: 'noto_sans_georgianregular' !important; 
 }
 .timeLeft{
	font-family: 'noto_sans_georgianregular' !important; 
 }
 .contactForm form input[type='text'], .contactForm form label, .contactForm form .submit{
  font-family: 'noto_sans_georgianregular' !important; 	
 }
 .commMsG, .contactDetails p{
 	font-family: 'noto_sans_georgianregular' !important; 		
 }
.messageBox{
	font-family: 'noto_sans_georgianregular' !important;	
}
.mobileNavigation .blueBox ul li a{
	font-family: 'noto_sans_georgianregular' !important; 	
}
.map .header{
	font-family: 'noto_sans_georgianregular' !important; 	
	font-size: 17px;	
}
header .topBottom .logo .text{
	padding-top: 12px;
	font-size: 8px;
	font-family: 'noto_sans_georgianregular' !important;	
}
footer .centerWidth p{
	font-family: 'noto_sans_georgianregular' !important; 	
}
svg{
	overflow: visible !important;
	position: relative !important; 
	// width: 100%;
	g:hover{
		cursor: pointer !important;
	}
}
.readmoreLink{
	font-family: 'noto_sans_georgianregular' !important;
	margin-top: -40px; 
	float:left;
}
.collapsible .collapsible-body{
	font-family: 'noto_sans_georgianregular' !important;
}
.masterTooltip{
	font-family: 'noto_sans_georgianregular' !important;	
	font-size: 11px;
	background-color: #f2f2f2;
}
.google-visualization-orgchart-node, .google-visualization-orgchart-node{
	background:none !important;
	background-color: #f2f2f2 !important;	
}
.tooltip{
	font-family: 'noto_sans_georgianregular' !important;
}