/* Media Queries */
@media(max-width: $breakpoint-tablet){
	.centerWidth{
		width: $mobileCenterWidth;
	}
	header .top .top-box{
	  	width: $fullWidth;
	}
	header .top .top-box .languages{
		float: right;
	}
	header .navigation{
		width: 90%;
	}
	header .navigation ul li a{
		padding: 0 3px;
		font-size: 12px;
	}
	header .navigation ul li .active:after{
		left: 7.5px;
		width: calc(100% - 15px);
	}
}

@media (max-width: $breakpoint-mobile) {
  .centerWidth{
  	width: $mobileCenterWidth;
  }
  header .top .top-box{
  	// margin-left: calc(50% - #{$topSocialLangWidth / 2}); 
  	width: $fullWidth;
  }
  header .top .top-box .languages{
  	float: right;
  }
  header .topBottom .search{
  	display: none;
  }
  header .topBottom .logo{
  	margin-top: 35px;
  	width: 85%;
  }
  header .topBottom .logo .flags p{
  	line-height: $topFlagImageHeight - 10px;
  	height: $topFlagImageHeight - 10px;
  }
  header .topBottom .logo .flags p img{
  	width: $topFlagImageWidth - 10px;
  	height: $topFlagImageHeight - 10px;
  }
  header .topBottom .logo .flags p:last-child{
  	font-size: $topLogoBigFontSize - 15;
  }
  header .topBottom .logo .text{
  	font-size: $topLogoSmallFontSize - 5;	
  }
  header .topBottom{
  	height: $topBottomHeightMobile;
  }
  header .navigation{
  	display: none;
  }
  header .nav_bg{
  	display: block;
  }
  .mobileNavigation{
	width: $fullWidth; 
	position: absolute;
	top: $topHeight + $topBottomHeightMobile;
	.yellowBox{
		background-color: $yellowColor; 
		width: $fullWidth;
		display: none;
		position: absolute;
		z-index: 1000;
	}
	.blueBox{
		background-color: $blueColor; 
		position: absolute;
		min-height: 250px;
		z-index: 2000;
		ul{
			list-style-type: none;
			li{
				margin: $zero; 
				padding: 10px 20px;
				display: inline-block;
				width: $fullWidth; 
				a{
					color: $whiteColor; 
					font-family: 'noto_sansregular';
					font-size: 16px;
					text-decoration: none;
				}
				.active{
					font-weight: bold;
				}
			}
		}
	}
  }
  .mobileNavigation .blueBox ul li{
  	position: relative;
  }
  .mobileNavigation .blueBox ul li .arrow{
	width: 15px;
	height: 15px;
	background-image: url('../../img/navArrow.png');
	background-size: 15px 15px;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	right: 20px;
	top: 15px;
	display: block;
  }
   .mobileNavigation .blueBox ul li ul{
   	display: none;
   }
   .files-desktop{
      display: none;
   }
   .files-mobile{
      display: block;
      margin: 10px 0px; 
      padding: 0 10px;
      width: $fullWidth;
      .file{
        a{
          .title{
            font-size: 12px;
          }
        }
      }
   }
   footer .centerWidth a img{
    width: $fullWidth !important;
   }
   .footerText{
      width: calc(100% - 20px) !important; 
      margin: 0 10px !important;
      height: 45px;
      p{
       width: 70%; 
      }
      p:last-child{
        text-align: right;
        width: 30%; 
      }
   }
   .mobileMarginTop20{
    margin-top:20px;
   }
   footer .centerWidth .footerText .right{
    margin-top:6px;
   }
   footer .centerWidth .footerText .left{
    font-size: 10px;
   }
}

@media (max-width: $breakpoint-smallmobile) {
  header .top .top-box .social-networks{
  	width: ($topSocialLangWidth / 2 - 20px);
  	ul{
  		width: ($topSocialLangWidth / 2 - 20px);
  	}
  }
  header .top .top-box .languages{
  	float: right;
  	width: auto;
  	ul{
  		width: auto;
  		li{
  			padding: 0 5px;
  		}
  	}
  }
  header .topBottom .search{
  	display: none;
  }
  header .topBottom .logo{
  	margin-top: 35px;
  	width: 85%;
  }
  header .topBottom .logo .flags p{
  	line-height: $topFlagImageHeight - 15px;
  	height: $topFlagImageHeight - 15px;
  	margin-right: 5px;
  }
  header .topBottom .logo .flags p img{
  	width: $topFlagImageWidth - 15px;
  	height: $topFlagImageHeight - 15px;
  }
  header .topBottom .logo .flags p:last-child{
  	font-size: $topLogoBigFontSize - 20;
  }
  header .topBottom .logo .text{
  	font-size: $topLogoSmallFontSize - 6;	
  }
  header .nav_bg{
  	top: -5px;
  }
}

@media (max-width: $breakpoint-extra-smallmobile) {
  header .topBottom .logo .text{
    font-size: 9px;
  }
}