/*HEDARE TOP*/
/*HEADER BOTTOM*/
/*FONT*/
@font-face {
  font-family: 'museo700';
  src: url("../../fonts/web/museo/museo-700.woff2") format("woff2"), url("../../fonts/web/museo/museo-700.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'noto_sansregular';
  src: url("../../fonts/web/noto/notosans-regular.woff2") format("woff2"), url("../../fonts/web/noto/notosans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'noto_sans_georgianregular';
  src: url("../../fonts/web/noto/notosansgeorgian-regular-webfont.woff2") format("woff2"), url("../../fonts/web/fonts/noto/notosansgeorgian-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../../fonts/web/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

.no, *, .centerWidth, header .top .top-box .social-networks ul, header .top .top-box .social-networks ul li, header .top .top-box .languages ul, header .top .top-box .languages ul li, header .topBottom .search .input-field, main {
  margin: 0px;
  padding: 0px;
  border: 0px; }

body {
  overflow-x: hidden !important; }

.clearer {
  clear: both; }

.centerWidth {
  margin: 0 auto;
  width: 1200px;
  position: relative; }

.centerWidth .row {
  margin: 0 -10px; }

.topCenter {
  height: 24px; }

.marginminus10 {
  margin: 0 -10px;
  padding: 0px; }

.marginTop40 {
  margin-top: 40px !important; }

.marginTop14 {
  margin-top: 14px !important; }

.padding20 {
  padding: 20px !important; }

.paddingTop0 {
  padding-top: 0px !important; }

.height30 {
  height: 30px !important; }

.cursorPointer {
  cursor: pointer !important; }

.messageBox {
  margin: 0px;
  padding: 10px !important;
  color: red;
  font-weight: bold; }

.space20 {
  margin: 0;
  padding: 0;
  clear: both;
  height: 20px;
  width: 100%; }

.date {
  margin: 5px 0 0 0;
  padding: 0px;
  color: white; }
  .date span {
    background-color: #003399;
    padding-right: 5px;
    font-size: 18px; }

header .top {
  background-color: #ff0000;
  height: 24px;
  width: 100%; }
  header .top .top-box {
    width: 265px;
    height: 24px;
    line-height: 24px;
    float: right; }
    header .top .top-box .social-networks {
      height: 24px;
      line-height: 24px;
      float: left; }
      header .top .top-box .social-networks ul {
        list-style-type: none;
        height: 24px;
        line-height: 24px; }
        header .top .top-box .social-networks ul li {
          display: inline-block;
          height: 24px;
          line-height: 24px; }
          header .top .top-box .social-networks ul li a {
            text-decoration: none;
            color: #fff;
            display: block;
            width: 35px;
            height: 24px; }
        header .top .top-box .social-networks ul li:hover {
          cursor: pointer;
          opacity: 0.8; }
        header .top .top-box .social-networks ul li:first-child {
          margin-left: 0px; }
        header .top .top-box .social-networks ul .fb {
          background-image: url("../../img/facebook.png");
          text-indent: -9999px;
          background-repeat: no-repeat;
          background-size: 16px 13px;
          background-position: center center; }
        header .top .top-box .social-networks ul .tw {
          background-image: url("../../img/twitter.png");
          text-indent: -9999px;
          background-repeat: no-repeat;
          background-size: 16px 13px;
          background-position: center center; }
        header .top .top-box .social-networks ul .yt {
          background-image: url("../../img/youtube.png");
          text-indent: -9999px;
          background-repeat: no-repeat;
          background-size: 16px 13px;
          background-position: center center; }
    header .top .top-box .languages {
      width: 132.5px;
      float: right;
      text-align: right; }
      header .top .top-box .languages ul {
        list-style-type: none; }
        header .top .top-box .languages ul li {
          display: inline-block;
          padding: 0px 5px;
          margin: 0px;
          position: relative; }
          header .top .top-box .languages ul li a {
            text-decoration: none;
            color: #fff;
            font-family: "noto_sansregular";
            font-size: 13px; }
          header .top .top-box .languages ul li a:hover {
            font-weight: bold; }
          header .top .top-box .languages ul li .active {
            font-weight: bold; }
        header .top .top-box .languages ul li:after {
          content: '';
          width: 1px;
          height: 10px;
          background-image: url("../../img/line.png");
          background-size: 1px 10px;
          background-repeat: no-repeat;
          position: absolute;
          right: -2px;
          top: 7px; }
        header .top .top-box .languages ul li:last-child {
          margin-right: 0px; }
        header .top .top-box .languages ul li:last-child:after {
          display: none; }
header .topBottom {
  width: 100%;
  height: 140px;
  background-color: #f2f3f6; }
  header .topBottom .logo {
    margin-top: 20px;
    width: 50%;
    float: left;
    cursor: pointer;
    display: block;
    margin-bottom: 5px; }
    header .topBottom .logo .flags {
      width: 100%; }
      header .topBottom .logo .flags p {
        display: inline-block;
        float: left;
        margin-right: 10px;
        line-height: 32.5px;
        height: 32.5px;
        margin-bottom: 5px; }
        header .topBottom .logo .flags p img {
          width: 48.5px;
          height: 32.5px; }
      header .topBottom .logo .flags p:last-child {
        font-size: 60px;
        font-family: 'museo700';
        color: #003399; }
    header .topBottom .logo .text {
      clear: both;
      width: 100%;
      text-align: left;
      font-family: "noto_sansregular";
      font-size: 16px;
      color: #003399; }
  header .topBottom .search {
    margin-top: 30px;
    float: right;
    width: 253px;
    position: relative; }
    header .topBottom .search i {
      width: 40px;
      height: 40px;
      line-height: 40px;
      position: absolute;
      left: 0;
      top: 3px;
      color: #003399; }
    header .topBottom .search .input-field {
      width: 253px;
      height: 40px;
      line-height: 40px; }
      header .topBottom .search .input-field input[type=text] {
        width: calc(100% - 40px);
        line-height: 40px;
        padding-left: 40px;
        font-family: 'noto_sansregular';
        font-size: 15px;
        color: #003399;
        border-bottom: 1px solid #003399; }
      header .topBottom .search .input-field input[type=text]:focus {
        border-bottom: 1px solid #003399;
        box-shadow: 0 1px 0 0 #003399; }
header .navigation {
  width: 1200px;
  height: 50px;
  background-color: #003399;
  margin: 0 auto;
  clear: both; }
  header .navigation ul {
    list-style-type: none;
    display: table;
    width: 100%; }
    header .navigation ul li {
      display: table-cell;
      line-height: 50px;
      text-align: center;
      position: relative; }
      header .navigation ul li a {
        display: block;
        color: #ffffff;
        text-decoration: none;
        font-family: 'noto_sansregular';
        font-size: 16px;
        padding: 0 10px; }
      header .navigation ul li .active {
        font-weight: bold;
        position: relative; }
        header .navigation ul li .active span {
          border-bottom: solid 3px #ffffff; }
      header .navigation ul li a:hover {
        font-weight: bold; }
    header .navigation ul li:after {
      content: '';
      width: 1px;
      height: 30px;
      background-image: url("../../img/line2.png");
      background-repeat: no-repeat;
      background-size: 1px 30px;
      position: absolute;
      right: 0px;
      top: 10px; }
    header .navigation ul li:last-child:after {
      display: none; }
    header .navigation ul .arrow {
      display: none; }
    header .navigation ul li > ul {
      list-style-type: none;
      display: none;
      width: calc(100% - 40px);
      padding: 0 20px;
      position: absolute; }
      header .navigation ul li > ul li:after {
        display: none; }
header .nav_bg {
  display: none;
  line-height: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 46px;
  height: 0px; }
  header .nav_bg .nav_bar {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    border-radius: 3px;
    /*style*/ }
    header .nav_bg .nav_bar .c-hamburger {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      width: 46px;
      height: 0px;
      font-size: 0;
      text-indent: -9999px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      box-shadow: none;
      border-radius: none;
      border: none;
      cursor: pointer;
      -webkit-transition: background 0.3s;
      transition: background 0.3s; }
    header .nav_bg .nav_bar .c-hamburger:focus {
      outline: none; }
    header .nav_bg .nav_bar .c-hamburger span {
      display: block;
      position: absolute;
      top: 44px;
      left: 0px;
      right: 0px;
      height: 4px;
      background: #003399; }
    header .nav_bg .nav_bar .c-hamburger span::before,
    header .nav_bg .nav_bar .c-hamburger span::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #003399;
      content: ""; }
    header .nav_bg .nav_bar .c-hamburger span::before {
      top: -15px; }
    header .nav_bg .nav_bar .c-hamburger span::after {
      bottom: -15px; }
    header .nav_bg .nav_bar .c-hamburger--htx span {
      -webkit-transition: background 0s 0.3s;
      transition: background 0s 0.3s; }
    header .nav_bg .nav_bar .c-hamburger--htx span::before,
    header .nav_bg .nav_bar .c-hamburger--htx span::after {
      -webkit-transition-duration: 0.3s, 0.3s;
      transition-duration: 0.3s, 0.3s;
      -webkit-transition-delay: 0.3s, 0s;
      transition-delay: 0.3s, 0s; }
    header .nav_bg .nav_bar .c-hamburger--htx span::before {
      -webkit-transition-property: top, -webkit-transform;
      transition-property: top, transform; }
    header .nav_bg .nav_bar .c-hamburger--htx span::after {
      -webkit-transition-property: bottom, -webkit-transform;
      transition-property: bottom, transform; }
    header .nav_bg .nav_bar .c-hamburger--htx.is-active span {
      background: none; }
    header .nav_bg .nav_bar .c-hamburger--htx.is-active span::before {
      top: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    header .nav_bg .nav_bar .c-hamburger--htx.is-active span::after {
      bottom: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    header .nav_bg .nav_bar .c-hamburger--htx.is-active span::before,
    header .nav_bg .nav_bar .c-hamburger--htx.is-active span::after {
      -webkit-transition-delay: 0s, 0.3s;
      transition-delay: 0s, 0.3s; }

.mobileNavigation {
  display: none; }

main {
  margin-top: 40px;
  clear: both; }

.leftSide a {
  color: #003399; }

.headerText {
  margin: 0 0 10px 0;
  padding: 0px;
  width: 100%;
  line-height: 26px;
  height: 26px;
  position: relative; }
  .headerText .line {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 1px;
    background-color: #003399;
    position: absolute;
    top: 15px;
    z-index: 1; }
  .headerText .title {
    margin: 0px;
    padding: 0 20px 0 0;
    font-family: "noto_sansregular";
    font-size: 20px;
    line-height: 26px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    color: #003399;
    z-index: 2; }

.collapsible-header {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }

.collapsible-header i {
  margin: 0 10px !important; }

.collapsible .collapsible-header > div {
  width: calc(100% - 26px);
  float: right;
  line-height: 25px;
  color: #003399;
  padding: 1px 0px; }

.collapsible .collapsible-body .padding20 ul {
  margin: 20px 0px;
  padding: 0px;
  list-style-type: none; }
  .collapsible .collapsible-body .padding20 ul li {
    color: #3d3d3d;
    font-family: "noto_sansregular";
    padding-left: 20px;
    position: relative; }
    .collapsible .collapsible-body .padding20 ul li a {
      color: #003399; }
  .collapsible .collapsible-body .padding20 ul li:after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #3d3d3d;
    position: absolute;
    left: 5px;
    top: 9px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }

.mainText {
  margin: 10px 0 40px 0;
  padding: 0px;
  font-family: "noto_sansregular";
  font-size: 18px;
  color: #003399;
  text-align: justify; }
  .mainText p {
    font-size: 18px;
    color: #3d3d3d;
    font-family: "noto_sansregular"; }
  .mainText a {
    font-family: "noto_sansregular";
    color: #003399;
    text-decoration: underline; }
  .mainText ul {
    margin: 20px 0px;
    padding: 0px;
    list-style-type: none; }
    .mainText ul li {
      font-size: 20px;
      color: #3d3d3d;
      font-family: "noto_sansregular";
      padding-left: 20px;
      position: relative; }
      .mainText ul li a {
        color: #003399; }
    .mainText ul li:after {
      content: '';
      width: 6px;
      height: 6px;
      background-color: #3d3d3d;
      position: absolute;
      left: 5px;
      top: 9px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }

.justTitle, h2 {
  margin: 0px;
  padding: 0px;
  line-height: 26px;
  font-size: 20px;
  font-family: "noto_sansregular";
  color: #003399; }

.collapsible-body h2 {
  color: #3c3c3c; }

.collapsible-body h2 span {
  color: #3c3c3c;
  font-family: "noto_sansregular"; }

.justSubTitle {
  margin: 10px 0px;
  padding: 0px;
  line-height: 25px;
  font-size: 20px;
  font-family: "noto_sansregular";
  color: #003399; }

.justDate {
  margin: 0px;
  padding: 0px;
  line-height: 25px;
  font-size: 15px;
  font-family: "noto_sansregular";
  color: #3d3d3d; }

.usefullLinks {
  margin: 0px;
  padding: 0px;
  width: 100%;
  list-style-type: none; }
  .usefullLinks li {
    width: 100%;
    line-height: 50px;
    height: 50px;
    background-color: #f2f3f6;
    margin: 5px 0 5px 0;
    position: relative;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .usefullLinks li a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      color: #003399;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center; }
      .usefullLinks li a img {
        margin: 12px 10px 10px 10px;
        padding: 0px;
        border: 0px;
        outline: 0px;
        height: 25px;
        width: 45px;
        position: absolute;
        left: 0;
        top: 0; }
      .usefullLinks li a div {
        width: calc(100% - 85px);
        margin-left: 65px;
        line-height: 18px; }
      .usefullLinks li a span {
        font-family: "noto_sansregular";
        font-size: 15px;
        line-height: 50px;
        float: left; }
    .usefullLinks li a:hover {
      color: #ffffff; }
  .usefullLinks li:hover {
    background-color: #ffcd00;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear; }

.files {
  margin: 10px 10px 40px 10px;
  padding: 0px;
  width: calc(100% - 20px);
  background-image: url("../../img/bigflags.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  float: left; }
  .files .file {
    margin: 10px 0;
    padding: 10px;
    border: solid 1px #ffffff;
    width: 100%;
    min-height: 80px;
    overflow: hidden;
    position: relative; }
    .files .file a {
      display: block;
      color: #ffffff; }
      .files .file a .pdfIcon {
        margin: 4px 10px 0 0;
        padding: 0px;
        width: 40px;
        height: 50px;
        float: left;
        background-image: url("../../img/pdf.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px 50px; }
      .files .file a .downloadIcon {
        margin: 0px;
        padding: 0px;
        width: 12px;
        height: 14px;
        background-image: url("../../img/download.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12px 14px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1; }
      .files .file a .title {
        margin: 0px;
        padding: 0 10px 0 0;
        float: left;
        font-size: 15px;
        line-height: 18px;
        font-family: 'noto_sansregular';
        color: #ffffff;
        width: calc(100% - 60px); }
        .files .file a .title span {
          text-decoration: underline;
          font-weight: bold; }
        .files .file a .title b {
          text-decoration: none;
          color: #ffcd00;
          font-weight: 500; }
  .files .file:hover {
    opacity: 0.8; }

.files-no-bg {
  margin: 20px 0 40px 0;
  padding: 0px;
  width: 100%; }
  .files-no-bg .file {
    margin: 10px 0;
    padding: 10px;
    border: solid 1px #f2f3f6;
    width: 100%;
    overflow: hidden;
    position: relative; }
    .files-no-bg .file a {
      display: block;
      color: #003399; }
      .files-no-bg .file a .pdfIcon {
        margin: 4px 10px 0 0;
        padding: 0px;
        width: 40px;
        height: 50px;
        float: left;
        background-image: url("../../img/pdf.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px 50px; }
      .files-no-bg .file a .downloadIcon {
        margin: 0px;
        padding: 0px;
        width: 12px;
        height: 14px;
        background-image: url("../../img/download2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12px 14px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1; }
      .files-no-bg .file a .title {
        margin: 0px;
        padding: 0 10px 0 0;
        float: left;
        font-size: 15px;
        line-height: 18px;
        font-family: 'noto_sansregular';
        color: #003399;
        width: calc(100% - 60px); }
        .files-no-bg .file a .title span {
          text-decoration: underline;
          font-weight: bold; }
        .files-no-bg .file a .title b {
          text-decoration: none;
          color: #5d5d5d;
          font-weight: 500; }
  .files-no-bg .file:hover {
    border: solid 1px #ffcd00; }

.leftNavigation {
  margin: 0px;
  padding: 0px;
  width: 100%;
  position: relative; }
  .leftNavigation .yellowBG {
    margin: 0 20px 0 0;
    padding: 0px;
    width: calc(100% - 20px);
    background-color: #ffcd00;
    min-height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1; }
  .leftNavigation .nav {
    margin: 20px 0 20px 20px;
    padding: 10px 0;
    width: calc(100% - 20px);
    background-color: #003399;
    min-height: 20px;
    position: relative;
    z-index: 2;
    float: left; }
    .leftNavigation .nav ul {
      margin: 0px;
      padding: 0px;
      width: 100%;
      list-style-type: none; }
      .leftNavigation .nav ul li {
        margin: 0px;
        padding: 0 20px; }
        .leftNavigation .nav ul li a {
          color: #ffffff;
          font-size: 15px;
          line-height: 35px;
          position: relative;
          width: 100%;
          display: block; }
        .leftNavigation .nav ul li .active {
          font-weight: bold; }
        .leftNavigation .nav ul li .active:after {
          content: '';
          margin: 0px;
          padding: 0px;
          width: 16px;
          height: 16px;
          position: absolute;
          right: 0px;
          top: 9px;
          background-image: url("../../img/navArrow.png");
          background-size: 16px 16px;
          background-repeat: no-repeat;
          background-position: center center; }

.files-mobile {
  display: none; }

.files-desktop {
  display: block; }

.newsBox {
  margin: 10px 0;
  padding: 0px;
  width: 100%; }
  .newsBox a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    display: block; }
    .newsBox a .imageBox {
      margin: 0px;
      padding: 0px;
      width: 100%;
      border: 0px;
      line-height: 0px; }
      .newsBox a .imageBox img {
        width: 100%; }
    .newsBox a .data {
      margin: 0px;
      padding: 0 10px;
      line-height: 30px;
      height: 30px;
      background-color: #003399; }
      .newsBox a .data p {
        font-family: 'noto_sansregular';
        font-size: 13px;
        color: #ffffff; }
      .newsBox a .data p:first-child {
        float: left; }
      .newsBox a .data p:last-child {
        float: right; }
    .newsBox a .title {
      margin: 5px 0;
      padding: 0px;
      font-family: "noto_sansregular";
      font-size: 15px;
      font-weight: bold;
      color: #003399;
      line-height: 18px; }
    .newsBox a .text {
      margin: 5px 0;
      padding: 0px;
      font-family: "noto_sansregular";
      font-size: 15px;
      line-height: 18px;
      color: #5d5d5d; }
  .newsBox a:hover .imageBox img {
    opacity: 0.8; }
  .newsBox a:hover .title {
    text-decoration: underline; }

footer {
  margin: 150px 0px 0px 0px;
  padding: 20px 0px;
  width: 100%;
  min-height: 200px;
  background-color: #f2f3f6;
  border-top: solid 5px #ff0000;
  position: relative; }
  footer .centerWidth a {
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none; }
    footer .centerWidth a img {
      margin: 0;
      padding: 0;
      width: 180px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
  footer .centerWidth p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: "noto_sansregular";
    line-height: 14px;
    color: #4f4f50; }
  footer .centerWidth .marginBottom55 {
    margin-bottom: 55px; }
  footer .centerWidth .footerText {
    margin: 0;
    padding: 0;
    width: calc(100% - 30px);
    float: left;
    margin-left: 10px; }
    footer .centerWidth .footerText .left {
      margin: 0px;
      padding: 20px 0 0 0;
      font-family: "noto_sansregular";
      font-size: 12px;
      line-height: 18px;
      color: #1a1a1a;
      float: left; }
    footer .centerWidth .footerText .right {
      margin: 0px;
      padding: 10px 0 0 0;
      float: right; }
      footer .centerWidth .footerText .right a {
        margin: 0px;
        padding: 0px;
        outline: 0px;
        display: block;
        text-decoration: none; }
        footer .centerWidth .footerText .right a img {
          margin: 0px;
          padding: 0px;
          outline: 0px;
          width: 100%; }
        footer .centerWidth .footerText .right a .logo {
          width: 65px !important; }
  footer .centerWidth .footer-logo1 {
    margin: 0 20px 0 0;
    padding: 0;
    width: 300px;
    float: left; }
    footer .centerWidth .footer-logo1 a img {
      margin: 0;
      padding: 0;
      width: 300px; }
  footer .centerWidth .footer-text {
    margin: 0 20px 10px 0;
    padding: 0;
    width: 370px;
    float: left; }
  footer .centerWidth .footer-logo2 {
    margin: 0 20px 0 0;
    padding: 0;
    width: 145px;
    float: left; }
    footer .centerWidth .footer-logo2 a img {
      margin: 0;
      padding: 0;
      width: 145px; }

.InternationalSupport .box {
  margin-bottom: 20px;
  padding: 20px;
  border: solid 2px #d7d7d7;
  -webkit-box-shadow: 0px 0px 10px 0px #d7d7d7;
  -moz-box-shadow: 0px 0px 10px 0px #d7d7d7;
  box-shadow: 0px 0px 10px 0px #d7d7d7;
  min-height: 460px;
  overflow: hidden; }
  .InternationalSupport .box img {
    margin: 0px;
    padding: 0px;
    width: 100%; }
  .InternationalSupport .box .title {
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'noto_sansregular'; }
  .InternationalSupport .box .text {
    font-size: 20px;
    font-family: 'noto_sansregular'; }
.InternationalSupport .box:hover {
  border: solid 2px #ffcd00; }

.linkWithIcon {
  margin: 10px 0;
  padding: 0px;
  height: 30px;
  line-height: 30px; }
  .linkWithIcon a {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    text-decoration: none; }
    .linkWithIcon a img {
      width: 20px !important;
      height: 20px !important;
      float: left;
      margin-right: 20px;
      margin-top: 5px !important; }
    .linkWithIcon a span {
      margin-left: 10px;
      font-size: 18px;
      line-height: 30px;
      font-family: "noto_sansregular";
      color: #003399; }

.contactDetails {
  margin: 0px;
  padding: 40px 0px;
  width: 100%;
  font-size: 18px;
  font-family: "noto_sansregular";
  color: #003399;
  line-height: 27px; }
  .contactDetails p {
    margin: 0px;
    padding: 0px;
    line-height: 27px;
    font-size: 18px;
    font-family: "noto_sansregular";
    color: #003399; }

.contactForm {
  margin: 20px 0px;
  padding: 0px; }
  .contactForm form {
    margin: 0px;
    padding: 0px; }
    .contactForm form input[type='text'] {
      border-bottom: solid 1px #ffcd00; }
    .contactForm form input[type='text']:focus:not([readonly]) {
      border-bottom: solid 1px #ffcd00;
      box-shadow: 0 1px 0 0 #ffcd00; }
    .contactForm form label {
      color: #3c3c3c;
      font-size: 15px;
      font-family: "noto_sansregular"; }
    .contactForm form .active {
      color: red;
      font-size: 15px;
      font-family: "noto_sansregular"; }
    .contactForm form .submit {
      margin: 20px 0;
      padding: 0px 20px;
      line-height: 35px;
      font-size: 16px;
      font-family: "noto_sansregular";
      font-weight: bold;
      text-align: center;
      color: #ffffff;
      background-color: #003399;
      float: right; }

.map {
  margin: 0px;
  padding: 0px;
  width: 100%; }
  .map .header {
    margin: 0px;
    padding: 0 10px;
    font-size: 18px;
    font-family: "noto_sansregular";
    color: #003399;
    background-color: #ffcd00;
    line-height: 30px; }
  .map .init-map {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 320px;
    background-color: #f2f2f2; }

.material-tooltip {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px #d7d7d7;
  -moz-box-shadow: 0px 0px 10px 0px #d7d7d7;
  box-shadow: 0px 0px 10px 0px #d7d7d7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .material-tooltip .backdrop {
    background-color: #ffffff; }
  .material-tooltip span {
    font-size: 20px;
    font-family: "noto_sansregular";
    color: #3d3d3d; }

.collapsible {
  border: none !important;
  box-shadow: none !important; }
  .collapsible .active .collapsible-header .blueArraw-icon {
    transform: rotate(90deg); }
  .collapsible .collapsible-header {
    margin-bottom: 10px !important;
    border: none !important;
    -webkit-box-shadow: 0px 0px 10px 0px #d7d7d7 !important;
    -moz-box-shadow: 0px 0px 10px 0px #d7d7d7 !important;
    box-shadow: 0px 0px 10px 0px #d7d7d7 !important; }
    .collapsible .collapsible-header span {
      font-size: 15px;
      font-family: "noto_sansregular";
      color: #003399; }
  .collapsible .collapsible-body {
    margin-top: -10px !important;
    margin-bottom: 10px !important;
    -webkit-box-shadow: 0px 0px 10px 0px #d7d7d7 !important;
    -moz-box-shadow: 0px 0px 10px 0px #d7d7d7 !important;
    box-shadow: 0px 0px 10px 0px #d7d7d7 !important;
    position: relative; }
    .collapsible .collapsible-body .hideShadow {
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 20px;
      position: absolute;
      top: -5px;
      left: 0px;
      background-color: #ffffff; }
    .collapsible .collapsible-body p {
      padding: 0px; }

.penIcon {
  margin: 0px;
  padding: 0px;
  width: 16px;
  height: 16px;
  float: left;
  background-image: url("../../img/pen.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px; }

.blueArraw-icon {
  margin: 0px;
  padding: 0px;
  width: 16px !important;
  height: 16px !important;
  background-image: url("../../img/icon-arrow.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center; }

.fileTree {
  margin: 0;
  padding: 20px 20px 0 20px;
  width: 100%;
  min-height: 80px; }
  .fileTree ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    .fileTree ul li {
      margin: 0px;
      padding: 3px 0px;
      width: 100%;
      line-height: 30px;
      clear: both; }
      .fileTree ul li .line {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 1px;
        background-color: #d7d7d7;
        clear: both; }
      .fileTree ul li .icon {
        margin: 0px;
        padding: 0px;
        width: 16px;
        line-height: 30px;
        height: 30px;
        background-image: url("../../img/pdf.png");
        background-size: 16px 20px;
        background-repeat: no-repeat;
        background-position: center center;
        float: left; }
      .fileTree ul li .text {
        margin: 0px  0px 0px 5px;
        padding: 0px;
        float: left;
        line-height: 30px;
        height: 30px; }
        .fileTree ul li .text a {
          margin: 0px;
          padding: 0 5px;
          font-family: "noto_sansregular";
          font-size: 15px;
          font-weight: bold;
          color: #003399; }
      .fileTree ul li .rightSide {
        margin: 0px;
        padding: 0px;
        float: right;
        font-family: "noto_sansregular";
        font-size: 13px;
        color: #666666;
        line-height: 30px;
        height: 30px; }
      .fileTree ul li ul {
        margin-left: 20px; }
        .fileTree ul li ul li:first-child {
          border-top: 0px; }
    .fileTree ul li:hover .text a {
      text-decoration: underline; }

.commentForm {
  display: none; }

.timeLeft {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-family: "noto_sansregular";
  color: #003399; }
  .timeLeft span {
    padding: 0 5px;
    background-color: #ffcd00; }

.input-field .active {
  color: #003399 !important; }

.searchCollectionBox a {
  color: #003399 !important;
  text-decoration: none; }
.searchCollectionBox a:hover {
  background-color: white !important;
  text-decoration: underline; }

.CalendarBox {
  margin-top: 20px;
  padding: 10px 10px 10px 15px;
  background-color: #ffcd00;
  width: 100%;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  font-family: 'noto_sansregular'; }
  .CalendarBox .weekDay {
    font-family: 'noto_sansregular';
    padding: 20px 0 20px 3px;
    color: white !important;
    font-size: 14px !important;
    text-align: left !important; }
  .CalendarBox table {
    width: 100%;
    font-size: 15px;
    font-family: 'noto_sansregular';
    background: #ffcd00;
    color: #003399; }
    .CalendarBox table tr {
      margin: 10px 0px;
      height: 45px; }
      .CalendarBox table tr td {
        margin: 5px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px; }
        .CalendarBox table tr td div {
          width: 30px;
          height: 30px;
          -moz-border-radius: 15px;
          -webkit-border-radius: 15px;
          border-radius: 15px;
          background-color: #d6b419;
          color: #ffffff;
          padding-top: 3px;
          cursor: pointer;
          font-size: 14px;
          font-family: 'noto_sansregular'; }
          .CalendarBox table tr td div a {
            color: #ffffff;
            text-decoration: none; }
        .CalendarBox table tr td div:hover {
          background-color: #003399; }
        .CalendarBox table tr td .currentDay {
          background-color: #ff0000; }
        .CalendarBox table tr td .event_exists {
          background-color: #003399; }
    .CalendarBox table tr:first-child {
      height: 20px; }
    .CalendarBox table tr:nth-child(2) {
      height: 10px; }
      .CalendarBox table tr:nth-child(2) td {
        height: 10px;
        line-height: 10px; }
    .CalendarBox table #title-calendar {
      position: relative;
      text-align: center; }
      .CalendarBox table #title-calendar a {
        text-decoration: none;
        width: 10px;
        height: 16px;
        padding: 0 30px;
        font-family: 'noto_sansregular';
        text-indent: -9999px;
        background-repeat: no-repeat;
        background-size: 10px 16px;
        background-position: center center; }
      .CalendarBox table #title-calendar a:first-child {
        background-image: url("../../img/calendarLeft.png"); }
      .CalendarBox table #title-calendar a:last-child {
        background-image: url("../../img/calendarRight.png"); }
      .CalendarBox table #title-calendar a:hover {
        text-decoration: none; }
    .CalendarBox table a {
      color: black; }
    .CalendarBox table .weekday {
      width: 25px; }

#chart_div {
  margin: 0px;
  padding: 0px; }
  #chart_div table {
    margin: 0px;
    padding: 0px; }
    #chart_div table .google-visualization-orgchart-nodesel {
      border: none !important; }
    #chart_div table .google-visualization-orgchart-node {
      padding: 5px;
      border: none !important;
      -webkit-border-radius: 3px !important;
      -moz-border-radius: 3px !important;
      border-radius: 3px !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      -ms-box-shadow: none !important;
      box-shadow: none !important;
      color: #363636 !important;
      font-size: 15px !important;
      font-family: "noto_sansregular" !important; }
    #chart_div table .google-visualization-orgchart-lineleft {
      border-left: 1px solid #f2f3f6 !important; }
    #chart_div table .google-visualization-orgchart-lineright {
      border-right: 1px solid #f2f3f6 !important; }
    #chart_div table .google-visualization-orgchart-linebottom {
      border-bottom: 1px solid #f2f3f6 !important; }
    #chart_div table .google-visualization-orgchart-linetop {
      border-top: 1px solid #f2f3f6 !important; }

/* Media Queries */
@media (max-width: 1200px) {
  .centerWidth {
    width: 90%; }
    .centerWidth .event img {
      width: 100%; }

  header .top .top-box {
    width: 100%; }

  header .top .top-box .languages {
    float: right; }

  header .navigation {
    width: 90%; }

  header .navigation ul li a {
    padding: 0 3px;
    font-size: 12px; }

  header .navigation ul li .active:after {
    left: 7.5px;
    width: calc(100% - 15px); }

  header .topBottom .logo .flags {
    float: left; } }
@media (max-width: 1025px) {
  .centerWidth .event #mainImage {
    width: auto !important; } }
@media (max-width: 1200px) {
  .centerWidth {
    width: 90%; }

  header .top .top-box {
    width: 100%; }

  header .top .top-box .languages {
    float: right; }

  header .topBottom .search {
    display: none; }

  header .topBottom .logo {
    margin-top: 20px;
    width: 85%; }

  header .topBottom .logo .flags p {
    line-height: 22.5px;
    height: 22.5px; }

  header .topBottom .logo .flags p img {
    width: 38.5px;
    height: 22.5px; }

  header .topBottom .logo .flags p:last-child {
    font-size: 45px; }

  header .topBottom .logo .text {
    font-size: 11px; }

  header .topBottom {
    height: 120px; }

  header .navigation {
    display: none; }

  header .nav_bg {
    display: block; }

  .mobileNavigation {
    width: 100%;
    position: absolute;
    top: 144px; }
    .mobileNavigation .yellowBox {
      background-color: #ffcd00;
      width: 100%;
      display: none;
      position: absolute;
      z-index: 1000; }
    .mobileNavigation .blueBox {
      background-color: #003399;
      position: absolute;
      min-height: 250px;
      z-index: 2000; }
      .mobileNavigation .blueBox ul {
        list-style-type: none; }
        .mobileNavigation .blueBox ul li {
          margin: 0px;
          padding: 10px 20px;
          display: inline-block;
          width: 100%; }
          .mobileNavigation .blueBox ul li a {
            color: #ffffff;
            font-family: 'noto_sansregular';
            font-size: 16px;
            text-decoration: none; }
          .mobileNavigation .blueBox ul li .active {
            font-weight: bold; }

  .mobileNavigation .blueBox ul li {
    position: relative; }

  .mobileNavigation .blueBox ul li .arrow {
    width: 15px;
    height: 15px;
    background-image: url("../../img/navArrow.png");
    background-size: 15px 15px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    right: 20px;
    top: 15px;
    display: block; }

  .mobileNavigation .blueBox ul li ul {
    display: none; }

  .files-desktop {
    display: none; }

  .files-mobile {
    display: block;
    margin: 10px 0px;
    padding: 0 10px;
    width: 100%; }
    .files-mobile .file a .title {
      font-size: 12px; }

  footer .centerWidth a img {
    width: 100% !important; }

  .footerText {
    width: calc(100% - 20px) !important;
    margin: 0 10px !important;
    height: 45px; }
    .footerText p {
      width: 70%; }
    .footerText p:last-child {
      text-align: right;
      width: 30%; }

  .mobileMarginTop20 {
    margin-top: 20px; }

  .CalendarBox table {
    margin-left: -10px !important; }

  footer .centerWidth .footerText .right {
    margin-top: 6px; }

  footer .centerWidth .footerText .left {
    font-size: 10px;
    padding-top: 15px !important; }

  footer .centerWidth .marginBottom55 {
    margin-bottom: 40px !important; }

  .footer-logo1 {
    width: 200px !important; }

  footer .centerWidth .footer-logo1 a img {
    width: 200px !important; }

  footer .centerWidth .footer-text {
    width: 270px !important; } }
@media (max-width: 380px) {
  header .top .top-box .social-networks {
    width: 112.5px; }
    header .top .top-box .social-networks ul {
      width: 112.5px; }

  header .top .top-box .languages {
    float: right;
    width: auto; }
    header .top .top-box .languages ul {
      width: auto; }
      header .top .top-box .languages ul li {
        padding: 0 5px; }

  header .topBottom .search {
    display: none; }

  header .topBottom .logo {
    margin-top: 20px;
    width: 85%; }

  header .topBottom .logo .flags svg {
    width: 100%; }

  header .topBottom .logo .flags p {
    line-height: 17.5px;
    height: 17.5px;
    margin-right: 5px; }

  header .topBottom .logo .flags p img {
    width: 38.5px;
    height: 22.5px; }

  header .topBottom .logo .flags p:last-child {
    font-size: 40px; }

  header .topBottom .logo .text {
    font-size: 10px; }

  header .nav_bg {
    top: -5px; }

  .fileTree ul li .text {
    max-width: 180px;
    overflow: hidden; } }
@media (max-width: 320px) {
  header .topBottom .logo .text {
    font-size: 9px; }

  header .topBottom .logo .flags svg {
    width: 95%; } }
@page {
  size: A4;
  margin: 0; }
@media print {
  body {
    background-color: #f2f2f2; }

  .top, .navigation, .search, .rightSide, .leftSide .marginminus10, .marginTop40, footer, .noprint {
    display: none; }

  .print {
    display: block; }

  .topBottom {
    margin: 40px 0px;
    clear: both; } }

/*# sourceMappingURL=style.css.map */
